body {
  margin: 0;
  font-family: sans-serif;
}
aside#sidebar {
  width: 200px;
  float: left;
  background: #f4f4f4;
  height: 100vh;
  padding: 10px;
}
main#conteudo {
  margin-left: 210px;
  padding: 20px;
}
header#header {
  margin-left: 210px;
  padding: 10px;
  background: #eee;
}
